.preTag_exercise {
    padding: 15px;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(37, 32, 25);
    border: 1px solid #d6d6d6;
    margin-left: 30px;
}

.codeText {
    white-space: break-spaces;
    /* Valid alternatives
       white-space: normal;
       white-space: pre-wrap;
       white-space: pre-line;
       white-space: normal;
    */
}
